
<script type="text/javascript">

    window.onload = function () {

        var div = document.createElement("div");

        div.innerHTML =
            '<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">\n' +
            '<div class="modal-dialog">\n' +
            '<div class="modal-content">\n' +
            '<div class="modal-header">\n' +
            '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>\n' +
            '<h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>\n' +
            '</div>\n' +
            '<div class="modal-body">\n' +
            '<p>You are about to delete item, this procedure is irreversible.</p>\n' +
            '<p>Do you want to proceed?</p>\n' +
            '<p class="debug-url"></p>\n' +
            '</div>\n' +
            '<div class="modal-footer">\n' +
            '<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>\n' +
            '<a class="btn btn-danger btn-ok">Delete</a>\n' +
            '</div>\n' +
            '</div>\n' +
            '</div>\n' +
            '</div>';

        document.body.appendChild(div);

        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

            $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        });

    };

</script>

